<?xml version="1.0"?>
<config>
    <global>
        <blocks>
            <lexel_onestepcheckout>
                <class>Lexel_OneStepCheckout_Block</class>
            </lexel_onestepcheckout>
            <dropship>
                <rewrite>
                    <checkout_onepage_shipping_method_available>Lexel_OneStepCheckout_Block_Shipping_Method_Available</checkout_onepage_shipping_method_available>
                </rewrite>
            </dropship>
        </blocks>
        <helpers>
            <lexel_onestepcheckout>
                <class>Lexel_OneStepCheckout_Helper</class>
            </lexel_onestepcheckout>
            <onestepcheckout>
                <rewrite>
                    <data>Lexel_OneStepCheckout_Helper_Data</data>
                </rewrite>
            </onestepcheckout>
        </helpers>
    </global>
    <frontend>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <onestepcheckout_save_customercomment>
                        <type>model</type>
                        <class>Lexel_OneStepCheckout_Helper_Data</class>
                        <method>setCustomerComment</method>
                    </onestepcheckout_save_customercomment>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
    </frontend>
</config>