<?xml version="1.0"?>
<config>
    <modules>
        <ObjectSource_RapidService>
            <version>0.0.1</version>
        </ObjectSource_RapidService>
    </modules>
    <global>
        <blocks>
            <os_rapidservice>
                <class>ObjectSource_RapidService_Block</class>
            </os_rapidservice>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>ObjectSource_RapidService_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>ObjectSource_RapidService_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>ObjectSource_RapidService_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_totals>ObjectSource_RapidService_Block_Sales_Order_Totals</order_totals>
                    <order_creditmemo_totals>ObjectSource_RapidService_Block_Sales_Order_CreditMemo_Totals</order_creditmemo_totals>
                    <order_invoice_totals>ObjectSource_RapidService_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <os_rapidservice>
                <class>ObjectSource_RapidService_Helper</class>
            </os_rapidservice>
        </helpers>
        <models>
            <os_rapidservice>
                <class>ObjectSource_RapidService_Model</class>
                <resourceModel>os_rapidservice_resource</resourceModel>
            </os_rapidservice>
            <os_rapidservice_resource>
                <class>ObjectSource_RapidService_Model_Resource</class>
            </os_rapidservice_resource>
            <catalog_resource>
                <rewrite>
                    <product_option_type_price>ObjectSource_RapidService_Model_Resource_Catalog_Product_Option_Type_Price</product_option_type_price>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <os_rapidservice_setup>
                <setup>
                    <module>ObjectSource_RapidService</module>
                    <class>catalog_resource/setup</class>
                </setup>
            </os_rapidservice_setup>
        </resources>

        <fieldsets>
            <sales_convert_quote_address>
                <base_rapidservice_amount>
                    <to_order>*</to_order>
                </base_rapidservice_amount>
                <rapidservice_amount>
                    <to_order>*</to_order>
                </rapidservice_amount>
            </sales_convert_quote_address>
            <sales_convert_quote_item>
                <base_rapidservice_amount>
                    <to_order_item>*</to_order_item>
                </base_rapidservice_amount>
                <rapidservice_amount>
                    <to_order_item>*</to_order_item>
                </rapidservice_amount>
            </sales_convert_quote_item>
        </fieldsets>

        <sales>
            <quote>
                <totals>
                    <os_rapidservice>
                        <class>os_rapidservice/sales_quote_address_total_rapidService</class>
                        <after>discount</after>
                    </os_rapidservice>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <os_rapidservice>
                        <class>os_rapidservice/sales_order_invoice_total_rapidService</class>
                        <after>discount</after>
                    </os_rapidservice>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <os_rapidservice>
                        <class>os_rapidservice/sales_order_creditmemo_total_rapidService</class>
                        <after>discount</after>
                    </os_rapidservice>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <frontend>
        <layout>
            <updates>
                <os_rapidservice>
                    <file>objectsource/rapidservice.xml</file>
                </os_rapidservice>
            </updates>
        </layout>
        <routers>
            <rapidservice>
                <use>standard</use>
                <args>
                    <module>ObjectSource_RapidService</module>
                    <frontName>rapidservice</frontName>
                </args>
            </rapidservice>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <os_rapidservice>
                    <file>objectsource/rapidservice.xml</file>
                </os_rapidservice>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <rapidservice>
                                            <title>Configure Rapid Service</title>
                                        </rapidservice>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <sales>
            <totals_sort>
                <os_rapidservice>1000</os_rapidservice>
            </totals_sort>
        </sales>
        <rapidservice>
            <general>
                <surcharge>25</surcharge>
            </general>
        </rapidservice>
    </default>
</config>
