<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Opti>
			<version>1.5.2.7</version>
		</Fishpig_Opti>
	</modules>
	<global>
		<blocks>
			<opti>
				<class>Fishpig_Opti_Block</class>
			</opti>
		</blocks>
		<helpers>
			<opti>
				<class>Fishpig_Opti_Helper</class>
			</opti>
		</helpers>
		<models>
			<opti>
				<class>Fishpig_Opti_Model</class>
			</opti>
		</models>
		<resources>
			<opti_setup>
				<setup>
					<module>Fishpig_Opti</module>
				</setup>
			</opti_setup>
		</resources>
		<events>
			<controller_front_send_response_before>
				<observers>
					<opti>
						<type>singleton</type>
						<class>opti/observer</class>
						<method>minifyHtmlObserver</method>
					</opti>
				</observers>
			</controller_front_send_response_before>
			<controller_action_layout_render_before>
				<observers>
					<opti>
						<type>singleton</type>
						<class>opti/observer</class>
						<method>minifyJsCssObserver</method>
					</opti>
				</observers>
			</controller_action_layout_render_before>
		</events>
	</global>
	<default>
		<opti>
			<conditions>
				<enabled>1</enabled>
				<modules>attributeSplash,catalog,catalogsearch,cms,contacts,customer,newsletter,poll,review,sendfriend,splashpro,tag,wishlist,wordpress,wp_addon_cpt</modules>
			</conditions>
			<css>
				<minify>1</minify>
			</css>
			<html>
				<minify>1</minify>
			</html>
			<js>
				<minify>1</minify>
				<!--<merge>0</merge>-->
			</js>
		</opti>
	</default>
	<!--
	<opti>
		<js>
			<merge>
				<groups>
					<default>
						<prototype>js/prototype/prototype.js</prototype>
						<prototype_validation>js/prototype/validation.js</prototype_validation>
						<lib_ccard>js/lib/ccard.js</lib_ccard>
						<scriptaculous_builder>js/scriptaculous/builder.js</scriptaculous_builder>
						<scriptaculous_effects>js/scriptaculous/effects.js</scriptaculous_effects>
						<scriptaculous_dragdrop>js/scriptaculous/dragdrop.js</scriptaculous_dragdrop>
						<scriptaculous_controls>js/scriptaculous/controls.js</scriptaculous_controls>
						<scriptaculous_slider>js/scriptaculous/slider.js</scriptaculous_slider>
						<varien_js>js/varien/js.js</varien_js>
						<varien_form>js/varien/form.js</varien_form>
						<varien_menu>js/varien/menu.js</varien_menu>
						<mage_translate>js/mage/translate.js</mage_translate>
						<mage_cookies>js/mage/cookies.js</mage_cookies>
					</default>
				</groups>
			</merge>
		</js>
	</opti>
	-->
</config>