<?xml version="1.0"?>
<config>
    <modules>
        <ObjectSource_Wishlist>
            <version>0.1.0</version>
        </ObjectSource_Wishlist>
    </modules>
    <global>
        <blocks>
			<wishlist>
				<rewrite>
					<customer_sidebar>ObjectSource_Wishlist_Block_Customer_Sidebar</customer_sidebar>
				</rewrite>
			</wishlist>
        </blocks>
    </global>
</config>
