<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_ACF>
			<version>1.2.5.1</version>
			<fishpig>
				<name>Advanced Custom Fields</name>
				<id>advanced-custom-field</id>
				<url>http://fishpig.co.uk/wordpress-integration-advanced-custom-fields.html</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_ACF>
	</modules>
	<global>
		<helpers>
			<wp_addon_acf>
				<class>Fishpig_Wordpress_Addon_ACF_Helper</class>
			</wp_addon_acf>
			<wp_acf>
				<class>Fishpig_Wordpress_Addon_ACF_Helper</class>
			</wp_acf>
		</helpers>
		<models>
			<wp_addon_acf>
				<class>Fishpig_Wordpress_Addon_ACF_Model</class>
				<resourceModel>wp_addon_acf_resource</resourceModel>
			</wp_addon_acf>
			<wp_addon_acf_resource>
				<class>Fishpig_Wordpress_Addon_ACF_Model_Resource</class>
				<entities>
					<field><table>postmeta</table></field>
				</entities>
			</wp_addon_acf_resource>
		</models>
		<events>
			<wordpress_post_get_meta_value>
				<observers>
					<wp_addon_acf>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_ACF_Helper_Data</class>
						<method>getAcfValueObserver</method>
					</wp_addon_acf>
				</observers>
			</wordpress_post_get_meta_value>
			<wordpress_page_get_meta_value>
				<observers>
					<wp_addon_acf>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_ACF_Helper_Data</class>
						<method>getAcfValueObserver</method>
					</wp_addon_acf>
				</observers>
			</wordpress_page_get_meta_value>
		</events>
	</global>
	<default>
		<wordpress>
			<extend>
				<acf>1</acf>
			</extend>
		</wordpress>
	</default></config>