<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AW_AlsoViewed>
            <version>1.0.2</version><platform>ce</platform>
        </AW_AlsoViewed>
    </modules>
    <global>
        <resources>
            <aw_alsoviewed_setup>
                <setup>
                    <module>AW_AlsoViewed</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aw_alsoviewed_setup>
            <aw_alsoviewed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aw_alsoviewed_write>
            <aw_alsoviewed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aw_alsoviewed_read>
        </resources>
        <blocks>
            <aw_alsoviewed>
                <class>AW_AlsoViewed_Block</class>
            </aw_alsoviewed>
        </blocks>
        <models>
            <aw_alsoviewed>
                <class>AW_AlsoViewed_Model</class>
                <resourceModel>aw_alsoviewed_mysql4</resourceModel>
            </aw_alsoviewed>
            <aw_alsoviewed_mysql4>
                <class>AW_AlsoViewed_Model_Mysql4</class>
                <entities>
                    <history>
                        <table>aw_alsoviewed_history</table>
                    </history>
                    <product>
                        <table>aw_alsoviewed_products</table>
                    </product>
                </entities>
            </aw_alsoviewed_mysql4>
        </models>
        <helpers>
            <aw_alsoviewed>
                <class>AW_AlsoViewed_Helper</class>
            </aw_alsoviewed>
        </helpers>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <aw_alsoviewed_product_view>
                        <type>singleton</type>
                        <class>AW_AlsoViewed_Model_Observer</class>
                        <method>onViewProduct</method>
                    </aw_alsoviewed_product_view>
                </observers>
            </catalog_controller_product_view>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <AW_AlsoViewed>
                    <files>
                        <default>AW_AlsoViewed.csv</default>
                    </files>
                </AW_AlsoViewed>
            </modules>
        </translate>
        <layout>
            <updates>
                <aw_alsoviewed>
                    <file>aw_alsoviewed.xml</file>
                </aw_alsoviewed>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <aw_alsoviewed_cron>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>aw_alsoviewed/cron::run</model>
                </run>
            </aw_alsoviewed_cron>
        </jobs>
    </crontab>
    <adminhtml>
        <translate>
            <modules>
                <AW_AlsoViewed>
                    <files>
                        <default>AW_AlsoViewed.csv</default>
                    </files>
                </AW_AlsoViewed>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aw_alsoviewed>
                                            <title>aheadWorks - Who viewed this also viewed</title>
                                        </aw_alsoviewed>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <aw_alsoviewed>
            <general>
                <enabled>1</enabled>
                <same_category>0</same_category>
                <products_to_display>5</products_to_display>
                <session_lifetime>30</session_lifetime>
            </general>
        </aw_alsoviewed>
    </default>
    
    
    <phpunit>
        <suite>
            <modules>
                <AW_AlsoViewed />
            </modules>
        </suite>
    </phpunit>  
    
</config>