<?xml version="1.0"?>

<!--
/**
 * @category   Webshopapps
 * @copyright   Copyright (c) 2013 Zowta Ltd (http://www.WebShopApps.com)
 *              Copyright, 2013, Zowta, LLC - US license
 * @license    http://www.webshopapps.com/license/license.txt - Commercial license
 */
 -->
<config>
    <modules>
        <Webshopapps_Dropship>
            <version>3.0.26</version>
        </Webshopapps_Dropship>
    </modules>
    <frontend>
        <routers>
            <webshopapps_dropship>
                <use>standard</use>
                <args>
                    <module>Webshopapps_Dropship</module>
                    <frontName>dropship</frontName>
                </args>
            </webshopapps_dropship>
        </routers>
        <layout>
            <updates>
                <dropship>
                    <file>webshopapps/dropship.xml</file>
                </dropship>
            </updates>
        </layout>
        <translate>
            <modules>
                <Webshopapps_Dropship>
                    <files>
                        <default>Webshopapps_Dropship.csv</default>
                    </files>
                </Webshopapps_Dropship>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <webshopapps_dropship>
                        <class>dropship/observer</class>
                        <method>preDispatchShippingMethodSave</method>
                    </webshopapps_dropship>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShippingMethod>
        </events>
    </frontend>
    <global>
        <models>
            <dropship>
                <class>Webshopapps_Dropship_Model</class>
            </dropship>
            <dropship_shipping>
                <class>Webshopapps_Dropship_Model</class>
            </dropship_shipping>
            <sales>
                <rewrite>
                    <order_shipment>Webshopapps_Dropship_Model_Sales_Order_Shipment</order_shipment>
                    <quote_address_total_shipping>Webshopapps_Dropship_Model_Sales_Quote_Address_Total_Shipping</quote_address_total_shipping>
                </rewrite>
            </sales>
            <checkout>
                <rewrite>
                    <type_onepage>Webshopapps_Dropship_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <resources>
            <dropship_setup>
                <setup>
                    <module>Webshopapps_Dropship</module>
                </setup>
            </dropship_setup>
        </resources>
        <blocks>
            <dropship>
                <class>Webshopapps_Dropship_Block</class>
            </dropship>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view>Webshopapps_Dropship_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <dropship>
                <class>Webshopapps_Dropship_Helper</class>
            </dropship>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <dropship_observer>
                        <type>singleton</type>
                        <class>dropship/observer</class>
                        <method>saveOrderAfter</method>
                    </dropship_observer>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_save_after>
                <observers>
                    <dropship_observer>
                        <type>singleton</type>
                        <class>dropship/observer</class>
                        <method>saveOrderAfter</method>
                    </dropship_observer>
                </observers>
            </sales_order_invoice_save_after>
            <adminhtml_block_html_before>
                <observers>
                    <dropship_observer>
                        <class>dropship/adminhtml_observer</class>
                        <method>onBlockHtmlBefore</method>
                    </dropship_observer>
                </observers>
            </adminhtml_block_html_before>
            <sales_order_shipment_grid_collection_load_before>
                <observers>
                    <dropship_observer>
                        <class>dropship/adminhtml_observer</class>
                        <method>onSalesOrderShipmentGridLoadBefore</method>
                    </dropship_observer>
                </observers>
            </sales_order_shipment_grid_collection_load_before>
        </events>
        <sales>
            <shipping>
                <carriers>
                    <dropship>
                        <class>Webshopapps_Dropship_Model_Carrier_Dropship</class>
                    </dropship>
                </carriers>
            </shipping>
        </sales>
        <template>
            <email>
                <wsa_email_shipment_template translate="label" module="sales">
                    <label>New Warehouse Shipment</label>
                    <file>sales/wsa_shipment_new.html</file>
                    <type>html</type>
                </wsa_email_shipment_template>
            </email>
        </template>
    </global>
    <default>
        <carriers>
            <dropship>
                <model>dropship_shipping/carrier_dropship</model>
                <merged_checkout>1</merged_checkout>
                <warehouse_desc>Warehouse</warehouse_desc>
                <show_all_items>0</show_all_items>
                <shipment_email>never</shipment_email>
            </dropship>
        </carriers>
        <sales_order>
            <dropship_order>
                <enabled>1</enabled>
            </dropship_order>
        </sales_order>
    </default>
</config>
