<?xml version="1.0"?>
<config>
    <modules>
        <ObjectSource_DailyDeal>
            <version>0.1.0</version>
        </ObjectSource_DailyDeal>
    </modules>
    <frontend>
        <routers>
            <dailydeal>
                <use>standard</use>
                <args>
                    <module>ObjectSource_DailyDeal</module>
                    <frontName>dailydeal</frontName>
                </args>
            </dailydeal>
        </routers>
        <layout>
            <updates>
                <dailydeal module="ObjectSource_DailyDeal">
                    <file>objectsource/dailydeal.xml</file>
                </dailydeal>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dailydeal>
                                            <title>Object Source - All</title>
                                        </dailydeal>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <resources>
            <dailydeal_setup>
                <setup>
                    <module>ObjectSource_DailyDeal</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dailydeal_setup>
            <dailydeal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dailydeal_write>
            <dailydeal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dailydeal_read>
        </resources>
        <models>
            <dailydeal>
                <class>ObjectSource_DailyDeal_Model</class>
            </dailydeal>
            <catalogrule>
                <rewrite>
                    <rule>ObjectSource_DailyDeal_Model_CatalogRule_Rule</rule>
                </rewrite>
            </catalogrule>
        </models>
        <template>
            <email>
                <dailydeal_rss_content_template module="dailydeal">
                    <label>Daily Deal e-Mail</label>
                    <file>dailydeal/rss_content.html</file>
                    <type>html</type>
                </dailydeal_rss_content_template>
            </email>
        </template>
        <blocks>
            <dailydeal>
                <class>ObjectSource_DailyDeal_Block</class>
            </dailydeal>
        </blocks>
        <helpers>
            <dailydeal>
                <class>ObjectSource_DailyDeal_Helper</class>
            </dailydeal>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <objectsource_dailydeal_run>
                <schedule>
                    <cron_expr>55 23 * * *</cron_expr>
                </schedule>
                <run>
                    <model>dailydeal/observer::run</model>
                </run>
            </objectsource_dailydeal_run>
        </jobs>
        <jobs>
            <objectsource_dailydeal_apply>
                <schedule>
                    <cron_expr>5 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>dailydeal/observer::apply</model>
                </run>
            </objectsource_dailydeal_apply>
        </jobs>
    </crontab>
    <default>
        <dailydeal>
            <dailydeal_group>
                <enabled>1</enabled>
                <per_day>1</per_day>
                <prom_suffix>Promotion:</prom_suffix>
                <prom_percentage>50</prom_percentage>
                <prom_length>1</prom_length>
                <preprocess_lenth>5</preprocess_lenth>
            </dailydeal_group>
        </dailydeal>
    </default>
</config>
