<?xml version="1.0"?>
<config>
    <modules>
        <ObjectSource_OrderFulfillment>
            <version>0.4.0</version>
        </ObjectSource_OrderFulfillment>
    </modules>
    <frontend>
        <routers>
            <orderfulfillment>
                <use>standard</use>
                <args>
                    <module>ObjectSource_OrderFulfillment</module>
                    <frontName>orderfulfillment</frontName>
                </args>
            </orderfulfillment>
        </routers>
        <events>
            <sales_order_place_before>
                <observers>
                    <objectsource_orderfulfillment_set_init_order_data>
                        <model>ObjectSource_OrderFulfillment_Model_Observer</model>
                        <method>setInitOrderFulfillmentData</method>
                    </objectsource_orderfulfillment_set_init_order_data>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <objectsource_orderfulfillment_selling_report>
                        <model>ObjectSource_OrderFulfillment_Model_Observer</model>
                        <method>generateSellingReport</method>
                    </objectsource_orderfulfillment_selling_report>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <objectsource_orderfulfillment>
                    <file>objectsource/orderfulfillment.xml</file>
                </objectsource_orderfulfillment>
            </updates>
        </layout>
        <events>
            <sales_order_place_before>
                <observers>
                    <objectsource_orderfulfillment_set_init_order_data>
                        <model>ObjectSource_OrderFulfillment_Model_Observer</model>
                        <method>setInitOrderFulfillmentData</method>
                    </objectsource_orderfulfillment_set_init_order_data>
                </observers>
            </sales_order_place_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <objectsource_orderfulfillment_extend_order_grid>
                        <model>ObjectSource_OrderFulfillment_Model_Observer</model>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </objectsource_orderfulfillment_extend_order_grid>
                </observers>
            </sales_order_grid_collection_load_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <objectsource_orderfulfillment_prepare_layout_before1>
                        <class>ObjectSource_OrderFulfillment_Model_Observer</class>
                        <method>addJobTicketPrintMassAction</method>
                    </objectsource_orderfulfillment_prepare_layout_before1>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <menu>
            <sales>
                <children>
                    <orderfulfillment translate="title" module="orderfulfillment">
                        <title>Production Dates</title>
                        <sort_order>2000</sort_order>
                        <action>orderfulfillment/adminhtml_productiondates/index/</action>
                    </orderfulfillment>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <objectsource>
                            <title>objectsource</title>
                            <children>
                                <orderfulfillment>
                                    <title>Object Source - Print Jobs</title>
                                </orderfulfillment>
                            </children>
                        </objectsource>
                        <sales>
                            <children>
                                <orderfulfillment>
                                    <title>Production Dates</title>
                                </orderfulfillment>
                            </children>
                        </sales>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <orderfulfillment>
                                            <title>Object Source - All</title>
                                        </orderfulfillment>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <fulfillment_data />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <fulfillment_data>
                    <to_order_item>*</to_order_item>
                </fulfillment_data>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <fulfillment_data>
                    <to_quote_item>*</to_quote_item>
                </fulfillment_data>
            </sales_convert_order_item>
        </fieldsets>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <objectsource_orderfulfillment_setfulfillment_data>
                        <class>ObjectSource_OrderFulfillment_Model_Observer</class>
                        <method>salesQuoteItemSetFulfillmentData</method>
                    </objectsource_orderfulfillment_setfulfillment_data>
                </observers>
            </sales_quote_item_set_product>
            <sales_order_resource_save_attribute_after>
	    	<observers>
		    <objectsource_orderfulfillment_set_virtual_columns>
			    <model>ObjectSource_OrderFulfillment_Model_Observer</model>
			    <method>updateGridWithFulfillmentData</method>
		    </objectsource_orderfulfillment_set_virtual_columns>
		</observers>
	    </sales_order_resource_save_attribute_after>            
        </events>
        <models>
            <sales>
                <rewrite>
                    <order>ObjectSource_OrderFulfillment_Model_Sales_Order</order>
                </rewrite>
            </sales>

            <orderfulfillment>
                <class>ObjectSource_OrderFulfillment_Model</class>
                <resourceModel>orderfulfillment_mysql4</resourceModel>
            </orderfulfillment>
            <orderfulfillment_mysql4>
                <class>ObjectSource_OrderFulfillment_Model_Mysql4</class>
                <entities>
                    <productiondates>
                        <table>os_orderfulfillment_productiondates</table>
                    </productiondates>
                </entities>
            </orderfulfillment_mysql4>
        </models>
        <blocks>
            <orderfulfillment>
                <class>ObjectSource_OrderFulfillment_Block</class>
            </orderfulfillment>
            <adminhtml>
                <rewrite>
                    <widget_grid_column_renderer_store>ObjectSource_OrderFulfillment_Block_Adminhtml_Widget_Grid_Column_Renderer_Store</widget_grid_column_renderer_store>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <orderfulfillment>
                <class>ObjectSource_OrderFulfillment_Helper</class>
            </orderfulfillment>
        </helpers>
        <resources>
            <orderfulfillment_setup>
                <setup>
                    <module>ObjectSource_OrderFulfillment</module>
                    <class>ObjectSource_OrderFulfillment_Model_Resource_Setup</class>
                </setup>
            </orderfulfillment_setup>
        </resources>

        <template>
            <email>
                <selling_report_email_template module="orderfulfillment">
                    <label>Selling Report Email Template</label>
                    <file>orderfulfillment/selling_report.html</file>
                    <type>html</type>
                </selling_report_email_template>
            </email>
        </template>
    </global>

    <admin>
        <routers>
            <orderfulfillment>
                <use>admin</use>
                <args>
                    <module>ObjectSource_OrderFulfillment</module>
                    <frontName>orderfulfillment</frontName>
                </args>
            </orderfulfillment>
        </routers>
    </admin>

    <default>
        <orderfulfillment>
            <orderfulfillment_group>
                <popular_threshold>8</popular_threshold>
                <popular_from>14</popular_from>
            </orderfulfillment_group>
        </orderfulfillment>
    </default>
</config>
