<?xml version="1.0"?>
<config>
    <modules>
        <Lexel_EcomdevCheckout>
            <version>0.1.0</version>
        </Lexel_EcomdevCheckout>
    </modules>
    <global>
        <models>
            <lexel_ecomdevcheckout>
                <class>Lexel_EcomdevCheckout_Model</class>
                <resourceModel>lexel_ecomdevcheckout_resource</resourceModel>
            </lexel_ecomdevcheckout>
            <lexel_ecomdevcheckout_resource>
                <class>Lexel_EcomdevCheckout_Model_Resource</class>
            </lexel_ecomdevcheckout_resource>
        </models>
        <blocks>
            <lexel_ecomdevcheckout>
                <class>Lexel_EcomdevCheckout_Block</class>
            </lexel_ecomdevcheckout>
            <checkout>
                <rewrite>
                    <onepage_billing>Lexel_EcomdevCheckout_Block_Onepage_Billing</onepage_billing>
                </rewrite>
            </checkout>
            <checkout>
                <rewrite>
                    <onepage_shipping>Lexel_EcomdevCheckout_Block_Onepage_Shipping</onepage_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <lexel_ecomdevcheckout>
                <class>Lexel_EcomdevCheckout_Helper</class>
            </lexel_ecomdevcheckout>
        </helpers>
    </global>
</config>