<?xml version="1.0"?>
<config>
    <sections>
        <general>
            <groups>
                <malaysia_invoice translate="label" module="os_malaysia_invoice">
                    <label>Malaysia Invoice</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <company_name translate="label">
                            <label>Company Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </company_name>
                        <company_registration_text translate="label">
                            <label>Company Registration Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </company_registration_text>
                        <company_address translate="label">
                            <label>Company Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </company_address>
                        <company_telephone_number translate="label">
                            <label>Telephone Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </company_telephone_number>
                        <company_fax_number translate="label">
                            <label>Fax Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </company_fax_number>
                        <gst_registration_text translate="label">
                            <label>GST Reg Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </gst_registration_text>
                        <libidex_address translate="label">
                            <label>Libidex Address on Invoice</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </libidex_address>
                        <libidex_bank_detail translate="label">
                            <label>Libidex Bank Details</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </libidex_bank_detail>
                        <operation_manager_name translate="label">
                            <label>Operation Manager Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </operation_manager_name>
                        <operation_manager_position translate="label">
                            <label>Operation Manager Position</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </operation_manager_position>
                    </fields>
                </malaysia_invoice>
            </groups>
        </general>
    </sections>
</config>
