<?xml version="1.0"?>
<config>
    <modules>
        <Webshopapps_Dropcommon>
            <version>0.1.9</version>
        </Webshopapps_Dropcommon>
    </modules>
    <frontend>
        <routers>
            <webshopapps_dropcommon>
                <use>standard</use>
                <args>
                    <module>Webshopapps_Dropcommon</module>
                    <frontName>dropcommon</frontName>
                </args>
            </webshopapps_dropcommon>
        </routers>
        <layout>
            <updates>
                <dropcommon>
                    <file>webshopapps/dropcommon.xml</file>
                </dropcommon>
            </updates>
        </layout>
        <translate>
            <modules>
                <Webshopapps_Dropcommon>
                    <files>
                        <default>Webshopapps_Dropcommon.csv</default>
                    </files>
                </Webshopapps_Dropcommon>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <dropcommon>
                <use>admin</use>
                <args>
                    <module>Webshopapps_Dropcommon</module>
                    <frontName>dropcommon</frontName>
                </args>
            </dropcommon>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <dropcommon module="Webshopapps_Dropcommon" >
                    <file>webshopapps/dropcommon.xml</file>
                </dropcommon>
            </updates>
        </layout>
        <translate>
            <modules>
                <Webshopapps_Dropcommon>
                    <files>
                        <default>Webshopapps_Dropcommon.csv</default>
                    </files>
                </Webshopapps_Dropcommon>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <dropcommon_adminhtml>
                <class>Webshopapps_Dropcommon_Model_Adminhtml</class>
            </dropcommon_adminhtml>
            <dropcommon>
                <class>Webshopapps_Dropcommon_Model</class>
                <resourceModel>dropcommon_resource</resourceModel>
            </dropcommon>
            <dropcommon_resource>
                <class>Webshopapps_Dropcommon_Model_Resource</class>
                <entities>
                    <dropship>
                        <table>dropship</table>
                    </dropship>
                    <dropship_shipping>
                        <table>dropship_shipping</table>
                    </dropship_shipping>
                    <shipmethods>
                        <table>webshopapps_shipmethods</table>
                    </shipmethods>
                    <shipmethods_carriers>
                        <table>webshopapps_shipmethods_carriers</table>
                    </shipmethods_carriers>
                    <shipmethods_upscarriers>
                        <table>webshopapps_sm_upscarriers</table>
                    </shipmethods_upscarriers>
                    <ordershipping>
                        <table>webshopapps_dropship_order_shipping</table>
                    </ordershipping>
                </entities>
            </dropcommon_resource>
            <sales>
                <rewrite>
                    <quote_address>Webshopapps_Dropcommon_Model_Sales_Quote_Address</quote_address>
                    <quote_address_rate>Webshopapps_Dropcommon_Model_Sales_Quote_Address_Rate</quote_address_rate>
                </rewrite>
            </sales>
            <shipping>
                <rewrite>
                    <shipping>Webshopapps_Wsacommon_Model_Shipping_Shipping</shipping>
                </rewrite>
            </shipping>
        </models>
        <blocks>
            <dropcommon>
                <class>Webshopapps_Dropcommon_Block</class>
            </dropcommon>
        </blocks>
        <helpers>
            <dropcommon>
                <class>Webshopapps_Dropcommon_Helper</class>
            </dropcommon>
        </helpers>
        <resources>
            <dropcommon_setup>
                <setup>
                    <module>Webshopapps_Dropcommon</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </dropcommon_setup>
        </resources>
        <fieldsets>
            <sales_convert_order>
                <warehouse><to_quote_address_shipping>*</to_quote_address_shipping></warehouse>
                <warehouse_shipping_details><to_quote_address_shipping>*</to_quote_address_shipping></warehouse_shipping_details>
                <warehouse_shipping_html><to_quote_address_shipping>*</to_quote_address_shipping></warehouse_shipping_html>
            </sales_convert_order>
            <sales_convert_quote_address>
                <warehouse><to_order>*</to_order></warehouse>
                <warehouse_shipping_details><to_order>*</to_order></warehouse_shipping_details>
                <warehouse_shipping_html><to_order>*</to_order></warehouse_shipping_html>
                <dropship_delivery_date><to_order>*</to_order></dropship_delivery_date>
                <dropship_extra_info><to_order>*</to_order></dropship_extra_info>
            </sales_convert_quote_address>
            <sales_convert_quote_item>
                <warehouse><to_order_item>*</to_order_item></warehouse>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <warehouse><to_quote_item>*</to_quote_item></warehouse>
            </sales_convert_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <warehouse/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <admin_system_config_changed_section_carriers>
                <observers>
                    <dropcommon_observer>
                        <class>dropcommon/observer</class>
                        <method>postError</method>
                    </dropcommon_observer>
                </observers>
            </admin_system_config_changed_section_carriers>
            <checkout_cart_save_before>
                <observers>
                    <dropcommon_observer>
                        <type>singleton</type>
                        <class>dropcommon/observer</class>
                        <method>saveCartBefore</method>
                    </dropcommon_observer>
                </observers>
            </checkout_cart_save_before>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <dropcommon_observer>
                        <type>singleton</type>
                        <class>dropcommon/observer</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </dropcommon_observer>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <dropcommon_observer>
                        <type>singleton</type>
                        <class>dropcommon/observer</class>
                        <method>saveShippingMethod</method>
                    </dropcommon_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
    </global>
    <default>
        <carriers>
            <dropship>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <title>Shipping</title>
                <ship_once>0</ship_once>
                <name>Webshopapps Shipping</name>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <help_text>Your order is being shipped from multiple sites</help_text>
                <help_url>home</help_url>
                <showmethod>1</showmethod>
                <warehouse_desc>Warehouse</warehouse_desc>
                <serial backend_model="adminhtml/system_config_backend_encrypted"/>
                <use_parent>1</use_parent>
                <use_cart_price>0</use_cart_price>
                <weight_unit_to_display>lbs</weight_unit_to_display>
                <common_warehouse>0</common_warehouse>
                <instock_default>0</instock_default>
                <sort_order>999</sort_order>
            </dropship>
        </carriers>
    </default>
</config>